*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #000000;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* Main card */
/* Top title */
.page-title{
    position:absolute;
    top:30px;
    left:60px;
    font-size:32px;
    font-weight:bold;
    color: #ffffff;
    border-left:4px solid #0c9e9e;
    padding-left:10px;
}

.login-container{
    width:575px;
    background: #292323;
    border-radius:18px;
    padding:42px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

/* Title */
.login-container h1{
    font-size:34px;
    margin-bottom:30px;
    color:#ffffff;
    letter-spacing:1px;
}

/* Fields */
.field{
    margin-bottom:22px;
}

.field label{
    display:block;
    margin-bottom:8px;
    color: #ddd8d8;
}

.field input{
    width:100%;
    padding:14px;
    border:none;
    border-radius:25px;
    background:#f3f3f3;
    outline:none;
    font-size:15px;
}

/* Password eye */
.password-box{
    position:relative;
}

.password-box .eye{
    position:absolute;
    right:18px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
}

/* Options row */
.options{
    display:flex;
    align-items:center;
    gap:20px;
    margin-top:15px;
}

/* Button */
.options button{
    background: #b81b1b;
    border:none;
    color:white;
    padding:12px 26px;
    border-radius:6px;
    cursor:pointer;
    font-size:15px;
}

.options button:hover{
    background: #3f8e33;
}

/* Forgot */
.forgot{
    display:block;
    margin-top:10px;
    color:red;
    text-decoration:none;
    font-size:14px;
}
