/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

/* Body setup */
body{
    background: #000000;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* Background container */
.bg-container {
    width: 1275px;
    height: 635px;
    background-image: url('../Assets/main4.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin: 0 auto;
    border-radius: 0px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* Top title above the card */
.bg-container h1{
    font-size:28px;
    font-weight:bold;
    color:#ffffff;
    margin-bottom:20px;
    letter-spacing:1px;
}

/* Main card */
.login-container{
    width:500px;
    background: #333030;
    border-radius:18px;
    padding:42px 30px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

/* Fields */
.field{
    margin-bottom:22px;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.field label{
    color: #ddd8d8;
    font-size:16px;
}

/* Button inside field */
.field button{
    background: #b60b0b;
    border:none;
    color:white;
    padding:12px;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

.field button:hover{
    background: #67b509;
}
