* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #000;
    padding: 30px 40px;
}

/*.page-title {*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    padding-left: 60px;*/
/*    font-size: 32px;*/
/*    font-weight: bold;*/
/*    color: white;*/
/*    border-left: 4px solid #0c9e9e;*/
/*    margin-top: 30px;*/
/*}*/

.page-title-wrapper{
    margin-top: 30px;
    margin-left: 40px;
}

.page-title{
    position: relative;
    font-size: 30px;      /* slightly smaller = cleaner */
    font-weight: bold;
    color: #ffffff;
    padding-left: 16px;   /* space from bar */
    line-height: 1.2;
}

.page-title::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 3px;           /* slimmer bar */
    height: 28px;
    background: #0c9e9e;
    border-radius: 2px;
}

.page {
    min-height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.sign_in-container {
    width: 575px;
    background: #292323;
    border-radius: 18px;
    padding: 42px;
    border: 1px solid rgba(255,255,255,0.88);
    display: flex;
    flex-direction: column;
}

.card-header{
    padding: 42px 42px 20px;
    flex-shrink: 0;
}

.card-header h1{
    font-size: 34px;
    color: #ffffff;
}

.card-content{
    padding: 0 42px 42px;
    overflow-y: auto;
    flex: 1;
}

.field{
    margin-bottom: 22px;
}

.field label{
    display: block;
    margin-bottom: 8px;
    color: #ddd8d8;
}

.field input{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 25px;
    background: #f3f3f3;
    outline: none;
    font-size: 15px;
}

.password-box{
    position: relative;
}

.password-box .eye{
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.error{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* ================= OPTIONS ================= */
.options{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

.options button{
    background: #b81b1b;
    border: none;
    color: #fff;
    padding: 12px 26px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.options button:hover{
    background: #3f8e33;
}

.card-content::-webkit-scrollbar{
    width: 6px;
}

.card-content::-webkit-scrollbar-thumb{
    background: #555;
    border-radius: 10px;
}
